DATABASE_URL=postgresql://postgres:S6WtPJJ5HHZsU1SX@db.gijgoxasfhghrsqvaqdo.supabase.co:5432/postgres
JWT_SECRET=change_this_to_a_random_64_char_string
JWT_EXPIRATION=7d
PORT=4000
FRONTEND_URL=https://ayaanfashion.ayaanfashion.workers.dev
